~umpy==1.16.2
typing_extensions==3.7.4.3
plotly==4.9.0
zipp==3.4.0
dash==1.14.0
dash_table==4.9.0
dash_html_components==1.0.3
keyring==18.0.0
lxml==4.3.2
pywin32==300
importlib_metadata==3.7.0
cryptography==2.6.1
dash_core_components==1.10.2
pandas==1.1.5
Cython==0.29.14
Brotli==1.0.7
dash_bootstrap_components==0.12.2
docutils==0.17.1
lockfile==0.12.2
numpy==1.20.2
ordereddict==1.1
protobuf==3.16.0
pyOpenSSL==20.0.1
wincertstore==0.2
